# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual envs
.venv/
venv/
env/

# Django

db.sqlite3-*
*.sqlite3
*.log

# Uploads (public demo files)


# Static build outputs (لو شغلت collectstatic)
staticfiles/
static-root/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Node (لو استخدمت Tailwind/Sass لاحقًا)
node_modules/
